<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="clientsForm" (ngSubmit)="getClientsNumber()">

        <div class="form-group">
          <label>Initial clients:</label>
          <input class="form-control" formControlName="initialClients" />
        </div>

        <div class="form-group">
          <label>Incoming clients:</label>
          <input class="form-control" formControlName="inComingClients" />
        </div>

        <div class="form-group">
          <label>Incoming clients ratio in minutes:</label>
          <input class="form-control" formControlName="inComingRatio" />
          <label>min</label>
        </div>

        <div class="form-group">
          <label>Outgoing clients:</label>
          <input class="form-control" formControlName="outGoingClients" />
        </div>

        <div class="form-group">
          <label>Outgoing clients ratio in minutes:</label>
          <input class="form-control" formControlName="outGoingRatio" />
          <label>min</label>
        </div>
        <div class="form-group">
          <label>Time:</label>
          <input class="form-control" formControlName="time" />
          <label>min</label>
        </div>


        <input class="btn btn-primary" type="submit" value="submit">

      </form>

      <p> Number of clients: {{clients}} </p>
    </div>
  </div>

</div>